# IO common configuration for ICARUS

# IO configuration
io:
  loader:
    batch_size: 4
    shuffle: false
    num_workers: 8
    collate_fn:
      name: all
      split: true
      source:
        sources: sources
    dataset:
      name: larcv
      file_keys: null
      schema:
        data:
          parser: sparse3d
          sparse_event_list:
            - sparse3d_reco_cryoE
            - sparse3d_reco_cryoE_chi2
            - sparse3d_reco_cryoE_hit_charge0
            - sparse3d_reco_cryoE_hit_charge1
            - sparse3d_reco_cryoE_hit_charge2
            - sparse3d_reco_cryoE_hit_key0
            - sparse3d_reco_cryoE_hit_key1
            - sparse3d_reco_cryoE_hit_key2
            - sparse3d_reco_cryoW
            - sparse3d_reco_cryoW_chi2
            - sparse3d_reco_cryoW_hit_charge0
            - sparse3d_reco_cryoW_hit_charge1
            - sparse3d_reco_cryoW_hit_charge2
            - sparse3d_reco_cryoW_hit_key0
            - sparse3d_reco_cryoW_hit_key1
            - sparse3d_reco_cryoW_hit_key2
          num_features: 8
        sources:
          parser: sparse3d
          sparse_event_list:
            - sparse3d_reco_cryoE_cryo
            - sparse3d_reco_cryoE_tpc
            - sparse3d_reco_cryoW_cryo
            - sparse3d_reco_cryoW_tpc
          feature_only: true
          num_features: 2
        seg_label:
          parser: sparse3d
          sparse_event: sparse3d_pcluster_semantics_ghost
        ppn_label:
          parser: particle_points
          sparse_event: sparse3d_pcluster
          particle_event: particle_corrected
          # include_point_tagging varies by config - override in specific configs
        clust_label:
          parser: cluster3d
          cluster_event: cluster3d_pcluster
          particle_event: particle_corrected
          neutrino_event: neutrino_mpv
          sparse_semantics_event: sparse3d_pcluster_semantics
          add_particle_info: true
          clean_data: true
        clust_label_g4:
          parser: cluster3d
          cluster_event: cluster3d_sed
          particle_event: particle_corrected
          add_particle_info: true
        charge_label:
          parser: sparse3d_aggr
          aggr: sum
          sparse_event_list:
            - sparse3d_reco_cryoE_rescaled
            - sparse3d_reco_cryoW_rescaled
        coord_label:
          parser: particle_coords
          particle_event: particle_corrected
          cluster_event: cluster3d_pcluster
        graph_label:
          parser: particle_graph
          particle_event: particle_corrected
        particles:
          parser: particle
          particle_event: particle_corrected
          neutrino_event: neutrino_mpv
          cluster_event: cluster3d_pcluster
        neutrinos:
          parser: neutrino
          neutrino_event: neutrino_mpv
          cluster_event: cluster3d_pcluster
        flashes:
          parser: flash
          flash_event_list:
            - opflash_cryoE
            - opflash_cryoW
        crthits:
          parser: crthit
          crthit_event: crthit_crthit
        meta:
          parser: meta
          sparse_event: sparse3d_pcluster
        run_info:
          parser: run_info
          sparse_event: sparse3d_pcluster

  writer:
    name: hdf5
    file_name: null
    overwrite: true
    keys:
      - run_info
      - meta
      - points
      - points_label
      - points_g4
      - depositions
      - depositions_label
      - depositions_q_label
      - depositions_g4
      - sources
      - sources_label
      - reco_particles
      - truth_particles
      - reco_interactions
      - truth_interactions
      - flashes
      - crthits
