# Post-processing configuration for SBND
# Revision date: September 18, 2024

__meta__:
  version: "240918"
  date: "2024-09-18"
  description: "SBND post-processing for September 2024 weights"
  compatible_with:
    base: ">=240720"
    io: ">=240720"
    model: ">=240720"
  tags: [post-calibration, absolute-fm]

include: post_common.yaml

override:
  # Flash matching configuration
  post.flash_match:
    flash_key: flashes
    volume: tpc
    method: likelihood
    cfg: !path flashmatch/flashmatch_240918.cfg
    scaling: 1./555. # If reprocessing data that's already been scaled, use 1
    alpha: 0.21 # Light yield calculation - https://arxiv.org/pdf/1909.07920
    recombination_mip: 0.6 # 0.65 used in studies - https://sbn-docdb.fnal.gov/cgi-bin/sso/ShowDocument?docid=38164
    priority: 3

  # Apply calibrations during post-processing
  post.apply_calibrations:
    gain:
      gain: 57.0 # e-/ADC
    recombination:
      efield: 0.5 # kV/cm
      model: mbox
    lifetime:
      lifetime: 35000 # us
      driftv: 0.1563 # cm/us
    priority: 2

  # MCS configuration
  post.mcs_ke:
    run_mode: reco
    tracking_mode: bin_pca
    segment_length: 14.0
    fill_per_pid: true
    priority: 1

  # Containment configuration
  post.containment:
    run_mode: both
    mode: source
    margin: 5.0
    cathode_margin: -5.0
    min_particle_sizes:
      0: 25
      1: 25
    priority: 1

  # Shower fudge factor
  post.calo_ke.shower_fudge: 1/0.77

  # Visibility thresholds
  post.topology_threshold-: truth_ke_mode
  post.topology_threshold.ke_thresholds:
    4: 50
    default: 25

  # No orientation updates after vertexing
  post.vertex-: update_orientations
