# ND-LAr model configuration
# Revision date: May 5, 2024

__meta__:
  version: "250505"
  date: "2025-05-05"
  description: "ND-LAr model first full weights release"
  compatible_with:
    base: ">=240819"
    io: ">=240819"
  tags: []
  training_set: "v0"

include: model_common.yaml

override:
  # MPV/MPR v00 balanced kaon weight path
  model.weight_path: !download
    url: https://s3df.slac.stanford.edu/data/neutrino/spine/weights/nd-lar/ndlar_snapshot_250505.ckpt
    hash: c3176783a91889c69e4a7a4a05be7519ab0673ebc7042c930513f601b1365213

  # Graph-SPICE embedding settings
  model.modules.graph_spice.embedder.uresnet.spatial_size: 6144

  # Aggregator edge length setting changes
  model.modules.grappa_shower.graph.max_length:
    [500, 0, 500, 500, 0, 0, 0, 25, 0, 25]
  model.modules.grappa_track.graph.max_length: 100
  model.modules.grappa_inter.graph.max_length:
    [500, 500, 0, 0, 25, 25, 25, 0, 0, 0]

  # Direction and dE/dx radii settings for GrapPA modules
  model.modules.grappa_shower.node_encoder.dir_max_dist: -1
  model.modules.grappa_shower.node_encoder.dedx_max_dist: -1
  model.modules.grappa_track.node_encoder.dir_max_dist: -1
  model.modules.grappa_track.node_encoder.dedx_max_dist: -1
  model.modules.grappa_inter.node_encoder.dir_max_dist: -1
  model.modules.grappa_inter.node_encoder.dedx_max_dist: -1

  # Loss adjustments
  model.modules.grappa_shower_loss.node_loss.use_closest: true
