# ND-LAr model configuration
# Revision date: May 15, 2024

__meta__:
  version: "250515"
  date: "2025-05-15"
  description: "ND-LAr model first full weights release"
  compatible_with:
    base: ">=240819"
    io: ">=240819"
  tags: []
  training_set: "v0"

include: model_common.yaml

override:
  # MPV/MPR v00 relax kaon weight path
  model.weight_path: !download
    url: https://s3df.slac.stanford.edu/data/neutrino/spine/weights/nd-lar/ndlar_snapshot_250515.ckpt
    hash: 9e0ebfa2876c236862d078e2cb182afad5f3e9f04ab4b0a703e8125513d2a046

  # Graph-SPICE embedding settings
  model.modules.graph_spice.embedder.uresnet.spatial_size: 6144

  # Aggregator edge length setting changes
  model.modules.grappa_shower.graph.max_length:
    [500, 0, 500, 500, 0, 0, 0, 25, 0, 25]
  model.modules.grappa_track.graph.max_length: 300
  model.modules.grappa_inter.graph.max_length:
    [500, 500, 0, 0, 500, 50, 50, 0, 0, 0]

  # Direction and dE/dx radii settings for GrapPA modules
  model.modules.grappa_shower.node_encoder.dir_max_dist: -1
  model.modules.grappa_shower.node_encoder.dedx_max_dist: -1
  model.modules.grappa_track.node_encoder.dir_max_dist: -1
  model.modules.grappa_track.node_encoder.dedx_max_dist: -1
  model.modules.grappa_inter.node_encoder.dir_max_dist: -1
  model.modules.grappa_inter.node_encoder.dedx_max_dist: -1

  # Loss adjustments
  model.modules.grappa_shower_loss.node_loss.use_closest: true
